<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="git.zxxxd.spring.bean.annotation"/>

    <util:properties id="db" location="classpath:jdbc.properties"/>

    <bean id="zhang" class="java.lang.String">
        <constructor-arg index="0" value="zhang"></constructor-arg>
    </bean>
    <bean id="wang" class="java.lang.String">
        <constructor-arg index="0" value="wang"></constructor-arg>
    </bean>

</beans>