<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.zxxxd.mapper.EmployeeMapper">
    <select id="getById" resultType="com.git.zxxxd.bean.Employee" parameterType="int">
        select * from employee where id=#{id}
    </select>
    <insert id="insertEmployee" parameterType="com.git.zxxxd.bean.Employee">
        insert into employee(lastName,email,gender,d_id)
        values (#{lastName},#{email},#{gender},#{dId})
    </insert>

    <insert id="insertEmp" parameterType="com.git.zxxxd.bean.Employee" statementType="CALLABLE">
        {call insert_employee(#{lastName,mode=IN,jdbcType=VARCHAR},#{gender,mode=IN,jdbcType=INTEGER})}
    </insert>

    <select id="getEmployee" parameterType="com.git.zxxxd.bean.Employee" statementType="CALLABLE" resultType="map">
        {call get_employee()}
    </select>

    <insert id="insertMap" parameterType="map" statementType="CALLABLE">
        {#{r,mode=OUT,jdbcType=INTEGER}=call test(#{lastName,mode=IN,jdbcType=VARCHAR},#{gender,mode=IN,jdbcType=INTEGER})}
    </insert>
</mapper>