<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addEmpServlet</servlet-name>
        <servlet-class>git.zxxxd.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addEmpServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myClient</servlet-name>
        <servlet-class>git.zxxxd.servlet.MyClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myClient</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

</web-app>
