<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="empsql">
    <select id="findAll" resultType="com.git.zxxxd.entity.Emp">
        select * from emp
    </select>
    <select id="findById" parameterType="int" resultType="com.git.zxxxd.entity.Emp">
        select * from emp where id=#{id}
    </select>
    <insert id="insert" parameterType="com.git.zxxxd.entity.Emp">
        insert into emp VALUES (#{id},#{name},#{salary},#{age})
    </insert>

    <delete id="delete" parameterType="int">
        delete from emp where id=#{id}
    </delete>
    <update id="update" parameterType="com.git.zxxxd.entity.Emp">
        update emp set age=#{age} where id=#{id}
    </update>
</mapper>