<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="date1" class="java.util.Date"></bean>
    <bean id="date2" class="java.util.Date"></bean>

    <!-- 采用new GregorianCalendar(),构造方法 -->
    <bean id="GregorianCalendar1" class="java.util.GregorianCalendar"></bean>
    <!-- 采用GregorianCalendar1.getInstance(),静态工厂方法 -->
    <bean id="GregorianCalendar2" class="java.util.Calendar" factory-method="getInstance"></bean>
    <!-- 采用GregorianCalendar2.getTime(),对象工厂方法 -->
    <bean id="date3" factory-bean="GregorianCalendar2" factory-method="getTime"></bean>


    <bean id="lifecycle" scope="singleton" lazy-init="true" init-method="init"
          destroy-method="beanDestroy" class="bean.entity.BeanLifecycle">

    </bean>

    <!--set注入-->
    <bean id="computer" class="bean.entity.Computer">
        <property name="cpu" value="i7"></property>
        <property name="hdd" value="500G"></property>
        <property name="mainBord" value="华硕"></property>
    </bean>
    <!--构造器注入-->
    <bean id="phone" class="bean.entity.Phone">
        <constructor-arg index="0" value="i7"></constructor-arg>
        <constructor-arg index="1" value="32G"></constructor-arg>
    </bean>

    <!--引用类型通过set方式注入-->
    <bean id="person" class="bean.entity.Person">
        <property name="computer" ref="computer"></property>
        <property name="phone" ref="phone"></property>
    </bean>

    <!--读取外部配置文件property-->
    <util:properties id="dbParam" location="classpath:jdbc.properties"></util:properties>

    <bean id="messageTwo" class="bean.entity.MessageBean">
        <property name="name" value="#{dbParam['123']}"></property>
        <property name="friends" ref="list"></property>
        <property name="cities" ref="set"></property>
        <property name="books" ref="map"></property>
        <property name="db" ref="db"></property>
    </bean>

    <util:properties id="db">
        <prop key="username">#{dbParam.username}</prop>
        <prop key="password">#{dbParam.password}</prop>
        <prop key="driver">#{dbParam.driver}</prop>
    </util:properties>

    <util:list id="list">
        <value>tom</value>
        <value>jack</value>
    </util:list>

    <util:set id="set">
        <value>北京</value>
        <value>上海</value>
    </util:set>

    <util:map id="map">
        <entry key="2015" value="呼吸内科"></entry>
        <entry key="221002" value="康复病区"></entry>
    </util:map>

    <!--注入各种类型数据 开发不会用到 了解一下就ok-->
    <bean id="message" class="bean.entity.MessageBean">
        <property name="name" value="张三"></property>
        <property name="age" value="24"></property>
        <property name="birth" value="2016-12-30"></property>
        <property name="friends">
            <list>
                <value>tom</value>
                <value>jack</value>
            </list>
        </property>
        <property name="cities">
            <set>
                <value>北京</value>
                <value>上海</value>
            </set>
        </property>
        <property name="books">
            <map>
                <entry key="2015" value="呼吸内科"></entry>
                <entry key="221002" value="康复病区"></entry>
            </map>
        </property>
        <property name="db">
            <props>
                <prop key="username">root</prop>
                <prop key="password">manager</prop>
                <prop key="driver">com.sql.jdbc.Driver</prop>
            </props>
        </property>
    </bean>

</beans>